@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

html,
body {
    scroll-behavior: smooth;
}

@layer utilities {
    .hole-down {
        clip-path: polygon(
            100% 0%,
            1% 0%,
            0% 100%,
            100% 100%,
            100% 99%,
            100% 50%,
            90% 50%,
            90% 86%,
            10% 86%,
            10% 70%,
            90% 70%,
            90% 50%,
            100% 55%
        );
    }
    .hole-up {
        clip-path: polygon(
            100% 0%,
            1% 0%,
            0% 100%,
            100% 100%,
            100% 99%,
            100% 50%,
            90% 50%,
            90% 30%,
            10% 30%,
            10% 14%,
            90% 14%,
            90% 50%,
            100% 55%
        );
    }
}
